
Week 3/TimeFighter/
Week 7/MyBookCollection/.idea/workspace.xml
Week 7/MyBookCollection/.idea/workspace.xml
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/model/Book.kt
Week 7/NewsFinder/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Week 7/NewsFinder/.idea/caches/build_file_checksums.ser
Week 7/NewsFinder/.idea/gradle.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
Week 7/NewsFinder/.idea/gradle.xml
Week 7/NewsFinder/.idea/gradle.xml
Week 7/NewsFinder/.gradle/vcs-1/gc.properties
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
Week 7/NewsFinder/.idea/gradle.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
Week 7/NewsFinder/.idea/gradle.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
Week 7/NewsFinder/.idea/gradle.xml
Week 7/NewsFinder/.idea/gradle.xml
Week 7/NewsFinder/.gradle/buildOutputCleanup/cache.properties
Week 7/NewsFinder/.gradle/buildOutputCleanup/cache.properties
Week 7/NewsFinder/.idea/gradle.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3_jar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_core_core_1_3_0_aar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
Week 7/NewsFinder/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
*.xml
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/response/BookBodyResponse.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/response/BookResultsResponse.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/view/MainViewModel.kt
*.bin
*.xml
*.gradle
*.iml
*.xml
*.kt
*.kt
*.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/view/MainViewModel.kt
Week 7/MyBookCollection/.idea/workspace.xml
Week 7/MyBookCollection/.idea/workspace.xml
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/APIService.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/model/Book.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/NewytService.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/response/BookBodyResponse.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/response/BookDetailsResponse.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/response/BookResultsResponse.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/view/MainRecyclerViewAdapter.kt
Week 7/MyBookCollection/app/src/main/java/com/carol/mybookcollection/view/MainViewModel.kt
Week 7/MyBookCollection/.idea/workspace.xml
